body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#welcome-screen {
  background-color: #015293;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-img {
  width: 300px;
  max-width: 80%;
}

#desktop {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  position: relative;
}

#wallpaper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#start-button {
  width: 60px;
  height: 60px;
  background-image: url("images/start-icon.png");
  background-size: cover;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}
